#popupWrap{
    width: 100%;
    height: 100%;
    display: flex;
    position : fixed;
    justify-content: center;
    align-items: center;
    top: 0px;
    z-index : 1;
    background-color : rgba(0, 0, 0, 0.5);
}


#event_popup{
    width: 550px;
    height: 610px;
    background-color: white;
}
#event_popup * {
    font-family: 'Pretendard';
}

/**************************************/

#sectionWrap{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 420px;
    overflow : overlay; /* 스크롤이 div width에 영향을 주지 않음*/
    border: 1px solid #C8C6C6;
    border-radius: 4px;
    margin: auto;
    padding-right: 4px;
}
#sectionWrap::-webkit-scrollbar{
    width: 4px;
}
#sectionWrap::-webkit-scrollbar-thumb {
    background-color: #3AB4F2;
    height: 20px;
    border-radius: 10px;
}
#sectionWrap::-webkit-scrollbar-track{
    background-color: #EEEEEE;
}
.section_common{
    display: inline-block;
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.common{
    display: block;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    padding: 7px;
    font-size: 15px;
    width: 400px;
}
#title_section{
    margin-bottom: 20px;
}
.text_length{
    display: inline-block;
    width: 416px;
    text-align: right;
    font-size: 12px;
}
#event_description{
    height: 5.5em;
    /** outline-color 속성을 추가하면 
    focus될 때 테두리 색상을 지정할 수 있다.**/
    outline-color: #3DA5F5;
    resize: none;
}
#event_title:focus{
    border: 2px solid #3DA5F5;
}
.section_title{
    color : #3AB4F2;
}

/*********************************************/

.select_custom{
    margin-bottom: 15px;
}
.selectedWrap{
    display: flex;
    align-items: center;
    width: 400px;
    height: 30px;
    border: 1px solid #C8C6C6;
    padding: 7px;
    border-radius: 4px;
}
.team_mem_tag{
    width: auto;
    height: 18px;
    background-color: #F86D7D;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "InfinitySans";
    font-weight: 300;
    padding: 5px;
    margin-right: 5px;
}
.selectFlag{
    display: flex;
    flex-direction: column;
}
.dropDown_img{
    width: 15px;
    height: 10px;
    margin-left: 10px;
}
.optionWrap{
    display: inline-block;
    width: 100px;
    border-radius: 7px;
    background-color : rgba(0, 0, 0, 0.2);
}
.li_common{
    height: 25px;
    text-align: center;
    cursor: pointer;
}
#team_plus_btn{
    width: 150px;
    height: 25px;
    background-color: #3DA5F5;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-left: 25px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.focus{
    border: 2px solid #3DA5F5;
}

/*******************************/

#choice_date{
    margin-bottom: 25px;
}
.dateCommon{
    display: inline-block;
    width: 185px;
    height: 25px;
    border: 2px solid #e4e4e4;
    padding: 6px;
}
#eventDate::placeholder{
    color : #B2B3B9;
}
#eventDate{
    margin-right: 10px;
}

/**************************/

#btnWrap{
    display: flex;
    justify-content: center;
    width: 500px;
    margin: auto;
    margin-top: 30px;
}
#btnWrap * {
    font-family: 'Pretendard';
}
.btnCommon{
    width: 200px;
    height: 48px;
    background-color: #1F4690;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}